h1 {
    color: #808080;
    
}

/* *{
    border: solid;
}*/

.heading{
    color: blue;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.footer{
    display: flex;
    justify-content: flex-end;
}

.links{
  margin-right: 70px;
}

.links a{
    margin-left: 30px;
}

.item1 p{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}


.item1:hover p{
    opacity: 1;
}

.item1{
    position: relative;

}

.item1:hover img{
    opacity: 0.33;
}